
 <div id="content" class="col-sm-9 content-body">

    <h2>Picked and Packed Confirmation</h2>
    <p>Use this page to Picked And Packed Confirmation</p>

        <div class="row">
            <br />
                <div class="col-md-4 col-xs-6">
                    <div class="form-group">
                        <label for="pickingLabelCode" translate>Picking Label Code</label>
                        <input class="form-control input-sm" type="text" name="pickingLabelCode" ng-model="a" maxlength="" />
                    </div>
                </div>
                <div class="col-md-4 col-xs-6">
                    <div class="form-group">
                        <label for="partCode" translate>Part Code</label>
                        <input class="form-control input-sm" type="text" name="partCode" ng-model="a" maxlength="" />
                    </div>
                </div>
        </div>
        <div class="row">
            <br />
                <div class="col-md-4 col-xs-6">
                    <div class="form-group">
                        <label for="pickedQuantity" translate>Picked Quantity</label>
                        <input class="form-control input-sm" type="text" name="pickedQuantity" ng-model="a" maxlength="" />
                    </div>
                </div>
                <div class="col-md-4 col-xs-6">
                    <div class="form-group">
                        <label for="caseLabelCode" translate>Case Label Code</label>
                        <input class="form-control input-sm" type="text" name="caseLabelCode" ng-model="a" maxlength="" />
                    </div>
                </div>
        </div>
        <div class="col-md-12 col-xs-12">
            <div class="form-group">
                <br/>
                <button type="button" ng-click="search()" wc-click-once class="btn btn-primary-default" uib-tooltip="">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> <span>Save</span>
                </button>
                <button type="button" ng-click="controller.search()" wc-click-once class="btn btn-secondary" uib-tooltip="">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> <span>Clear</span>
                </button>
                <button type="button" ng-click="controller.search()" wc-click-once class="btn btn-primary-default" uib-tooltip="">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> <span>Print Case</span>
                </button>
                <button type="button" ng-click="controller.search()" wc-click-once class="btn btn-danger" uib-tooltip="">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> <span>Delete Case</span>
                </button>
            </div>
        </div>

        <h3 translate>Picked List</h3>
        <div class="row">
         <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        
                        <th wc-column-sort="bkCountryIsoC" wc-column-sort-default="asc" class="col-hide">Picking List</th>
                        <th wc-column-sort="countryN" wc-column-sort-default="asc" class="hidden-xs">Picking Label</th>
                        <th wc-column-sort="currencyIsoC">Case Label</th>
                        <th wc-column-sort="currencyMaskX" class="hidden-xs">Part Code</th>
                        <th wc-column-sort="priceCurrencyDecimalQ" class="hidden-xs">Part Description</th>
                        <th wc-column-sort="languageC" class="hidden-xs">Picked Qty</th>
                        <th wc-column-sort="countryIsoR" class="hidden-xs">Dealer</th>
                        <th wc-column-sort="countryIsoR" class="hidden-xs">Zone</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="picked in listPicked">
                        <td class="text-center col-xs-1 col-hide"><span>{{picked.partCode}}</span></td>
                        <td class="text-center col-xs-1"><span></span></td>
                        <td class="text-center col-xs-1 col-hide "><span></span></td>
                        <td class="text-center col-xs-1 hidden-xs"><span></span></td>
                        <td class="text-center col-xs-1 hidden-xs"><span></span></td>
                        <td class="text-center col-xs-2 hidden-xs"><span></span></td>
                        <td class="text-center col-xs-1 hidden-xs"><span></span></td>
                        <td class="text-center col-xs-1 hidden-xs"><span></span></td>
                    </tr>
                    </tbody>
                </table>   
        </div>


 </div>    